#sidebar
  margin-left 0
  margin-right 0
  padding 5px
  display flex
  flex-direction column
  min-width 200px
  max-width 200px
  background-color #efe4f5
  min-height 100%
  flex-grow 1

.site, .support
  margin-top 10px

.head
  font-size 30px

.smallerhead
  font-size 18px
  text-decoration underline

.arrowOpen, .arrowClosed
  position absolute
  top 40%
  border-width 0 5px 5px 0
  display inline-block
  padding 10px

.arrowOpen
  margin-left -20px
  transform rotate(-45deg)
  -webkit-transform rotate(-45deg)

.arrowClosed
  margin-left 10px
  transform rotate(135deg)
  -webkit-transform rotate(135deg)
