.toc
  flex-direction row
  flex-grow 1
  padding 10px
  align-items center top

h2
  text-align center
  
.section
  display flex
  flex-wrap wrap
  border 2px #CDC solid
  padding 10px

.subsection
  display flex
  flex-wrap wrap
  flex-direction column
  margin 10px
  min-width 150px

.toc a
  color inherit !important

.toc li
  list-style-type none

.book
  display inline-block
  font-size 7pt
  margin-left 5px

.toc li h3
  margin-bottom 4px !important
  margin-top 10px !important
  line-height initial !important
  text-align center

.toc li h5, .toc li a
  margin-bottom 0.5px !important
  margin-top 2px !important
  line-height initial !important
  cursor pointer
  display inline-block
  color #4E2A84 !important
  font-size 13.28px
  font-weight 700
  
.toc ul
  padding-left: 0.3em;
  line-height: 1.3em;
  list-style-type: none;
  margin-left 10px !important

.toc>ul>li
  margin-bottom initial !important

ul .sublist
  font-size 10pt

pre
  word-break keep-all

details[closed] summary::-webkit-details-marker
  display inline
  width 0
  height 0
  border-color black
  border-with 10px

details summary
  cursor pointer
