.display
  flex-grow 1
  margin-left 10px

.displayHeading
  margin-bottom 0
  margin-top 10px
  flex-grow 1
  width 100%
  display flex
  flex-direction row

.level
  margin-right 5px

.displayPage
  display flex
  flex-direction row

.displayContent
  display flex
  flex-direction column

@media (max-width: 700px)
  .displayPage
    flex-direction column
  
  legend
    text-align center

.displayList
  display inline
  flex-shrink 0
  
.book
  display block
  margin-left 5px
  font-size 9pt

legend, fieldset
  display inline-block
  margin 0px
  white-space pre-line

fieldset
  margin-top 20px
  display flex
  flex-grow 1

legend h1, legend h2, legend h3
  margin-bottom 0
  margin-top -15px
