html
  font-size 11pt

html, body, .body
  height 100% // Needed for Firefox
  min-height 100% // Needed for Chrome
  margin 0
  overflow hidden

.body
  display flex

.app
  display flex

.view
  flex-grow 1
  overflow-y scroll

.content
  padding 20px

h1
  font-size 22pt

h2
  font-size 15pt

h3
  font-size 13pt

h4
  font-size 11pt

h5
  font-size 8pt

h6
  font-size 6pt
  margin-top 0px
  margin-bottom 0px

h1, h2, h3, h4, h5, h6
  margin-block-end .2em

a, a:visited
  cursor pointer
  text-decoration none

a:hover
  text-decoration underline

tr:first-child
  text-align center

tr, td
  padding 3px

table
  margin-top 10px
  white-space pre-line
  font-size 11pt

details summary::-webkit-details-marker
  display none

details summary
  cursor pointer
  display flex
  flex-grow 1
